* {
      
      box-sizing: border-box;
      color: black;
}

body {
      margin: 0;
      font-family: 'Caveat', cursive;

}

.cabecalho {
      background: white;
      border-bottom: solid 2px #ec685e;
      height: 55px;
      box-sizing: content-box;
}

.menu {
      display: inline-block;
      vertical-align: top;
      height: 80px;
      padding: 15px;
}

.menu ul {
      margin: 0;
      padding: 0;
}

.menu li {
      display: inline-block;
}

.cabecalho a {
      text-decoration: none;
      font-size: 1.3em;
      padding: 10px;
}

.menu a {
      padding: 10px;
}

.loginsenha {
      float: right;
      height: 80px;
      padding: 15px;
}

a:hover {
      background: white;
      box-shadow: 2px 2px 1px 1px #000000;
      border-radius: 15px;
}

a:active {
      box-shadow: none;
}

