* {
      margin: 0;
      border: 0;
      padding: 0;
      box-sizing: border-box;
      color: black;
}

body {
      min-height: 100vh;
      min-width: 100vw;
      margin: 0;
      font-family: 'Fjalla One', sans-serif;
      background: linear-gradient(45deg, #3f26bc, #3b073e);
      background-repeat: no-repeat;

}

.cabecalho {
      background: #ec685e;
      border-bottom: solid 1px #000000;
      height: 55px;
      box-sizing: content-box;
}

.menu {
      display: inline-block;
      vertical-align: top;
      height: 80px;
      padding: 15px;
}

.menu ul {
      margin: 0;
      padding: 0;
}

.menu li {
      display: inline-block;
}

.cabecalho a {
      text-decoration: none;
      font-size: 1.3em;
      padding: 10px;
}

.menu a {
      padding: 10px;
}

.loginsenha {
      display: inline-block;
      height: 80px;
      padding: 15px;
}

aside a:hover {
      background: white;
      box-shadow: 2px 2px 1px 1px #000000;
      border-radius: 15px;
}

aside a:active {
      box-shadow: none;
}

nav a:hover {
      background: white;
      box-shadow: 2px 2px 1px 1px #000000;
      border-radius: 15px;
}

nav a:active {
      box-shadow: none;
}

/*Container das imagens*/ 
.container-img {
      display: inline-block; /*vertical-align: top; caso a imagem não carregue.*/
      border: solid 1px;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
      background: linear-gradient(45deg, #032faa, #622d94);
      height: 300px;
      width: 206px;
      margin: 20px;
      padding: 5px;
      border: none;
      margin-left: 100px;
      
}
  
.container-img img {
      height: 300px;
      max-height: 100%;
}

p {
      text-align: center;
      margin-top: 15px;
      font-size: 25px;
      color: azure;
}

main a {
      text-decoration: none;
}

@media(max-width: 200px) {
      .container-img {
            display: none;
      }
}